html, body{    
    width: 100%;
    padding: 0;
    margin: 0;
}

html{
	background:url('../images/tile_bg.jpg')  #b0b0b0;
	position:relative;
}
body{
	background:url('../images/page_bg_center.jpg') repeat center center;
    font: 1em/1.3 Gill Sans, My Gill Sans, sans-serif;
    height: 100%;
}
#note{
	color: #666666;
	font-size: 24px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}
.game{
    width:100%;
    height: 90%;
    border-collapse: collapse;
}
.game td{
    border: 1px solid #626262;    
}
.game .category{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: Tahoma;
    width: 40%;
}
.logo{
    height: 100px;
}
.logo td{
    border: none;
    padding-bottom: 20px;
}
.logo img{    
    margin-left: 70px;
}
.questions-left{
    font-size: 20px;
    font-weight: bold;
}
.questions{
    list-style: none;
}
.questions li{
    float: left;
    width: 80px;
    height: 60px;
}

.star{
    margin-left: 20px;
}

.stars{
    vertical-align: top;
}

.last{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.number{
    font-size: 24px;
}

.background{
    background-color: #D0D8FF;
    cursor:pointer;
}

#window{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
}

.question-text{
    text-align: center;
    font-size: 27px;
}

#tools-area{
    text-align: center;
}

#tools-area a{
    border: 1px solid silver;
}

#question-answer{
    text-align: center;
}

#question-answer li{
    text-align: left;
}


.countdown{
    
}




p{
    margin: 7px 0;
}


#header{
    overflow: hidden;
    height: 8%;
    min-height: 100px;
}

#header .logo, .logo{
    position: absolute;
    display: block;
    top: 0;
    left: 30px;
    height: 100px;
    width: 130px;
    background: url(../images/logo.png) no-repeat;
    border: none;
    position: relative;
}

#header a{
    font-weight: bold;
}

#content {
    height: 90%;
    position: relative;
}


#center-block{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    width: 500px;
    height: 500px;
}

.games-list{
    margin: 10px;
    padding: 0;
    
    list-style: none;
    
}
.games-list li{
    padding:0;
    margin:0;
}


.timer{
    font-size: 20px;
}

.red{
    color: red;
}


.exit-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/exit.png) no-repeat;
    margin-bottom: -2px;
}

.reset-icon{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../images/reset.png) no-repeat;
    margin-bottom: -2px;
}

.home-icon{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../images/home.png) no-repeat;
    margin-bottom: -2px;
}

